@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css//bootstrap.min.css">
 <style>
        .card-container {
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }
        .card-header {
            background-color: #17a2b8;
            color: white;
        }
        .card-body {
            background-color: #f8f9fa;
        }
        .card-footer {
            text-align: center;
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card card-container">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <p>Your privacy is important to me. This page outlines how I handle any data you provide.</p>
                <h5>Information collection</h5>
                <p>I collect only the data necessary to provide you with the best experience on my site.</p>
                <h5>Use of Information</h5>
                <p>Your data is used solely for improving site functionality and ensuring the best user experience.</p>
                <h5>Data Protection</h5>
                <p>I implement security measures to safeguard your dataand ensure it remains confidential.</p>
                <h5>Contact</h5>
                <p>If you have any questions or concerns about your privacy, feel free to contact me on <strong> +254702445523 or nyabutozablon2@gmail.com</strong></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 </body>
</html>