@{
    ViewData["Title"] = "Home - Nyabuto Zablon Onchari";
}

<div class="jumbotron text-center">
    <img src="~/images/IMG-20180206-WA0007.jpg" class="rounded-circle" alt="Nyabuto Zablon Onchari" width="250" height="250">
    <h1 class="display-4">Hello, I'm Nyabuto Zablon Onchari.</h1>
    <p class="lead">A passionate Full-Stack Developer with a knack for financial technologies.</p>
    <hr class="my-4">
    <p>Explore my work, read my thoughts, and connect with me.</p>
    <a class="btn btn-primary btn-lg" href="/Projects" role="button">View Projects</a>
    <a class="btn btn-secondary btn-lg" href="/Articles" role="button">Read Articles</a>
    <a class="btn btn-outline-success btn-lg" href="~/CV Zablon Onchari.pdf" target="_blank" role="buttony">Download CV</a>
</div>
