@{
    ViewData["Title"] = "Projects";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
            height: 90%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body card-body-85%">
                    <h5 class="card-title">Booklyst Management System</h5>
                    <p class="card-text">
                        Led team in developing Booklyst Management System, an in-house solution improving their financial, 
                        supply chain, and database systems. Oversaw project lifecycle, ensuring alignment with BookLyst’s needs. 
                        Demonstrated leadership in cross-functional collaboration, achieving a 20% increase in operational 
                        efficiency, reduced data processing time by 30%, and enhanced team collaboration, leading to a 15% 
                        improvement in overall productivity.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://real-estate-project-deployment.vercel.app/">Jamii Properties</a></h5>
                    <p class="card-text">
                        Jamii Properties is an application created for buyers and sellers to interact with their favorite real estate 
                        products. The application employs cutting-edge technology to deliver an interactive experience for clients 
                        on their real estate journey.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
